* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.page {
  padding: 20px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
}

.content-wrapper {
  -webkit-flex: 1;
  flex: 1;
}

a {
  color: #4d94ca;
}

.review {
  margin: 20px 0;
  border: 1px solid #d6d7d8;
  padding: 20px;
}

.review-head {
  margin-bottom: 10px;
}

.review-name {
  font-weight: bold;
}

.review-percentage {
  margin-left: 5px;
  opacity: 0.7;
}

.vanity {
  font-size: 11px;
  text-align: center;
  color: #999;
  margin: 0;
}
