<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="milligram.min.css">
  <link rel="stylesheet" href="app.css"/>
</head>
<body>

  <div class="content-wrapper">
    {{{body}}}
  </div>

  <script type="text/javascript">
    console.log({{{json data}}});
  </script>
</body>
</html>
